
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>© 2020 All Rights Reserved <br>
        Made with <img class="end" src="https://media3.giphy.com/media/xUPGcqFkj0v3uGsm1G/giphy.webp" style="size:1%" alt="">by <a class=" myLink" href="https://samarth484.github.io/SamSite/">SAMARTH SRIVASTAVA</a> <img class="end"
          src="https://media0.giphy.com/media/3o7btMox9h6fBIt7ZC/giphy.webp" style="size:1%" alt="" />
      </p>
  </div>
</div>
</body>
</html>
